*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.title{
    margin-bottom: 50px;
    margin-top: 100px;
}

.vivah p{
    font-size: 93px;
    color: green;
}

.form-t{
    font-size: 60px;
}

.b-div{
    display: block;
    margin-top: 70px;
    
}

.border{
    border: 2px solid rgb(68, 66, 66);
    border-radius: 15px;
}

.form-div{
    margin: 20px 20px 20px 20px !important;
}
