*{
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

.pass{
    display: block;
    margin-top: 40px;
}

.pass p{
    font-size: 40px;
}

.square {
    height: 215px;
    width: 215px;
    background-color: #555;
    margin-right: 50px;
}

.d-flex, .pass{
    margin-bottom: 70px;
}

.row{
    margin-bottom: 70px;
}
